*.sdf
*.v12.suo
*.opensdf
*.user
*.tmp
*.temp
*.bak
~$*
RANKING.BIN
desktop.ini
/GameProject/2DGLFW_PAD/Debug
/GameProject/2DGLFW_PAD/GameProgramming/Debug
/GameProject/Game_alpha/Debug
/GameProject/Game_alpha/Release
/GameProject/Game_alpha/GameProgramming/Debug
/GameProject/Game_alpha/GameProgramming/Release